<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('../partials/HeaderFiles')%>

</head>
<style>
    .error
    {
        color:red
    }

</style>
<body>
<%- include('../partials/userHeader')%>

<section class="page-header">
    <div class="page-header-shape"></div>
    <div class="container">
        <div class="page-header-info">
            <h4>Change Password</h4>
            <h2>Our expert drivers will <br>make your <span>Ride Safe!</span></h2>
            <p>Everything your taxi business <br>needs is already here! </p>
        </div>
    </div>
</section>

<section class="contact-section bd-bottom padding">
    <div class="map"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-md-4">
                <div class="contact-form">
                    <form  id="PasswordForm" class="form-horizontal">
                        <div class="contact-title">
                            <h2>Reset Password<span></span></h2>
                        </div>
                        <div class="taxi-booking-form">
                            <div class="form-field">
                                <label class="form-label" for="oldPassword">Enter Old Password</label>
                                <input type="password" id="oldPassword" name="oldPassword" required minlength="3" maxlength="8" placeholder="Enter Old Password" class="form-control">
                            </div>
                            <br>
                            <div class="form-field">
                                <label for="newPassword">Enter New Password</label>
                                <input type="password" id="newPassword" name="newPassword" required minlength="3" maxlength="8" placeholder="Enter New Password" class="form-control">
                            </div>
                            <br>
                            <div class="form-field">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" required minlength="3" maxlength="8" data-rule-equalto="#newPassword" placeholder="Confirm New Password" class="form-control">
                            </div>
                            <br>
                            <div class="form-field">
                                <button onclick="ChangePassword()" class="default-btn" type="button">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="id" style="display: none">
    <%=id%>
</div>
<%- include('../partials/footer')%>
<%- include('../partials/Scripts')%>
<script>
    async function ChangePassword() {
        if($("#PasswordForm").valid()) {
            let id=document.getElementById("id").innerText
            let oldPassword = document.getElementById("oldPassword").value
            let newPassword = document.getElementById("newPassword").value
            let url = "/user/userChangePassword/"+id
            let response = await fetch(url,
                {
                    method: "Post",
                    headers: {"Content-type": "application/json"},
                    body: JSON.stringify({oldPassword: oldPassword, newPassword: newPassword})
                })
            response = await response.json()
            if (response.error != "") {
                Swal.fire({
                    icon: "error",
                    title: response.error,
                    showConfirmButton: false,
                    timer: 3000
                });
            } else {
                Swal.fire({
                    icon: "success",
                    title: response.message,
                    showConfirmButton: false,
                    timer: 3000
                });
                document.getElementById("PasswordForm").reset()
            }
        }
    }
</script>
</body>
</html>